<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>filière assistance</title>
        <link rel="shortcut icon" type="image/png" href="../../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../../assets/css/normalize.css">
        <link rel="stylesheet" href="../../assets/css/style.css">
        <link rel="stylesheet" href="../../assets/css/style_perso.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headerg">
            <p class="titre2">Les éléves de la filière assistance</p>
        </header>
        <article class="retour">
            <a href="../autre.html">
                    Retour en arrière
            </a>
        </article>
        
            <div class="img_gif">
                <a href="assistance/mei.html">
                    <article class="a1">
                        <p class="texte">Mei Hatsume</p>
                        <div class="mei"></div>
                    </article>
                </a>
                <a href="assistance/bibimi.html">
                    <article class="a1">
                        <p class="texte">Bibimi Kenranzaki</p>
                        <div class="bibimi"></div>
                    </article>
                </a>           
            </div>
    </body>
</html>