<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconde B Fille</title>
        <link rel="shortcut icon" type="image/png" href="../../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../../assets/css/normalize.css">
        <link rel="stylesheet" href="../../assets/css/style.css">
        <link rel="stylesheet" href="../../assets/css/style_perso.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headerb">
            <p class="titre2">Classe de Seconde B</p>
        </header>
        <article class="retour">
            <a href="../GEFB.html">
                    Retour en arrière
            </a>
        </article>
        
            <div class="img_gif">
                <a href="Ibara.html">      
                    <article class="a1">
                        <p class="texte">Ibara Shiozaki</p>
                        <div class="ibara"></div>
                    </article>
                </a>
                <a href="Itsuka.html">      
                    <article class="a1">
                        <p class="texte">Itsuka Kendo</p>
                        <div class="itsuka"></div>
                    </article>
                </a>
                <a href="Kinoko.html">      
                    <article class="a1">
                        <p class="texte">Kinoko Komori</p>
                        <div class="kinoko"></div>
                    </article>
                </a>                
            </div>

            <div class="img_gif">
                <a href="Pony.html">      
                    <article class="a1">
                        <p class="texte">Pony Tsunotori</p>
                        <div class="pony"></div>
                    </article>
                </a>
                <a href="Reiko.html">      
                    <article class="a1">
                        <p class="texte">Reiko Yanagi</p>
                        <div class="reiko"></div>
                    </article>
                </a>
                <a href="Setsuna.html">      
                    <article class="a1">
                        <p class="texte">Setsuna Tokage</p>
                        <div class="setsuna"></div>
                    </article>
                </a>
            </div>
            <div class="img_gif">
                <a href="Yui.html">      
                    <article class="a1">
                        <p class="texte">Yui Kodai</p>
                        <div class="yui"></div>
                    </article>
                </a>
            </div>
       
        
        
    </body>
</html>