<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seconde A Garçon</title>
    <link rel="shortcut icon" type="image/png" href="../../assets/img/Yuei_Logo.png"/>
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/style_perso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
</head>
<body>
<header class="headerprof">
    <p class="titre2">Professeurs de Yuei</p>
</header>
<main>
    <article class="retour">
        <a href="../Yuei.html">
            Retour en arrière
        </a>
    </article>
    <div class="img_gif">
        <a href="">
            <article class="a1">
                <p class="texte">All Might</p>
                <div class="allmight"></div>
            </article>
        </a>

        <a href="">
            <article class="a1">
                <p class="texte">Cementos</p>
                <div class="cementos"></div>
            </article>
        </a>

        <a href="">
            <article class="a1">
                <p class="texte">Ectoplasm</p>
                <div class="ectoplam"></div>
            </article>
        </a>

    </div>

    <div class="img_gif">

        <a href="">
            <article class="a1">
                <p class="texte">Erazer Head</p>
                <div class="hanta"></div>
            </article>
        </a>

        <a href="">
            <article class="a1">
                <p class="texte">Gran Torino</p>
                <div class="izuku"></div>
            </article>
        </a>
        <a href="">
            <article class="a1">
                <p class="texte">Midnight</p>
                <div class="katsuki"></div>
            </article>
        </a>
    </div>

    <div class="img_gif">

        <a href="">
            <article class="a1">
                <p class="texte">Power Loader</p>
                <div class="koji"></div>
            </article>

            <a href="">
                <article class="a1">
                    <p class="texte">Present Mic</p>
                    <div class="mashirao"></div>
                </article>
            </a>


            <a href="">
                <article class="a1">
                    <p class="texte">Snipe</p>
                    <div class="mezo"></div>
                </article>
            </a>

    </div>

    <div class="img_gif">

        <a href="">
            <article class="a1">
                <p class="texte">Vlad King</p>
                <div class="minoru"></div>
            </article>
        </a>
    </div>
</main>
</body>
</html>