<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconde A Fille</title>
        <link rel="shortcut icon" type="image/png" href="../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/style_perso.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headerg">
            <p class="titre2">Les autres éléves</p>
        </header>
        <article class="retour">
            <a href="Yuei.html">
                    Retour en arrière
            </a>
        </article>
        
            <div class="img_gif">
                <a href="autre/big_3.html">      
                    <article class="a1">
                        <p class="texte">Les Big Three</p>
                        <div class="big3"></div>
                    </article>
                </a>
                <a href="autre/generale.html">      
                    <article class="a1">
                        <p class="texte">Élèves de la filière générales</p>
                        <div class="generales"></div>
                    </article>
                </a>
                <a href="autre/assistance.html">      
                    <article class="a1">
                        <p class="texte">Élèves de la Filière d'Assistance</p>
                        <div class="assistance"></div>
                    </article>
                </a>                
            </div>
    </body>
</html>