<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconde A</title>
        <link rel="shortcut icon" type="image/png" href="../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headerb">
            <p class="titre2">Classe de Seconde B</p>
        </header>
        <article class="retour">
            <a href="Yuei.html">
                    Retour en arrière
            </a>
        </article>
        <article class="centrer">
            <a href="Seconde_B/SecondeBG.html" class="ataille">
                <article class="gef2">
                    <p class="gef">Seconde B Garçon</p>
                    <img class="gf" src="../assets/img/Garcon.png" alt="logo masculin">
                </article>  
                     
                
            </a>
            <a href="Seconde_B/SecondeBF.html">
                <article class="gef2">
                    <p class="gef">Seconde B Fille</p>
                    <img class="gf" src="../assets/img/fille.png" alt="logo féminin">
                </article>
                 
            </a>
        </article>
    </body>
</html>