<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconde A Garçon</title>
        <link rel="shortcut icon" type="image/png" href="../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/style_perso.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headera">
            <p class="titre2">Classe de Seconde A</p>
        </header>
        <article class="retour">
            <a href="GEFA.html">
                    Retour en arrière
            </a>
        </article>

        <div class="img_gif">
            <a href="Seconde_A/Denki.html">
                <article class="a1">
                    <p class="texte">Denki Kaminari</p>
                    <div class="denki"></div>
                </article>
            </a>

            <a href="Seconde_A/Eijiro.html">
                <article class="a1">
                    <p class="texte">Eijiro Kirishima</p>
                    <div class="eijiro"></div>
                </article>
            </a>
            
            <a href="Seconde_A/fumikage.html">
                <article class="a1">
                    <p class="texte">Fumikage Tokoyami</p>
                    <div class="fumikage"></div>
                </article>
            </a>

        </div> 

            <div class="img_gif">
                
                <a href="Seconde_A/Hanta.html">
                    <article class="a1">
                        <p class="texte">Hanta Sero </p>
                        <div class="hanta"></div>
                    </article>
                </a>
                
                <a href="Seconde_A/Deku.html">
                    <article class="a1">
                        <p class="texte">Izuku Midoriya</p>
                        <div class="izuku"></div>
                    </article>
                </a>
                <a href="Seconde_A/Katsuki.html">
                    <article class="a1">
                        <p class="texte">Katsuki Bakugo</p>
                        <div class="katsuki"></div>
                    </article>
                </a>
            </div>

            <div class="img_gif">

                <a href="Seconde_A/Koji.html">
                    <article class="a1">
                        <p class="texte">Koji Koda</p>
                        <div class="koji"></div>
                </article>

                <a href="Seconde_A/Mashirao.html">
                    <article class="a1">
                        <p class="texte">Mashirao Ojiro</p>
                        <div class="mashirao"></div>
                </article>
                </a>


                <a href="Seconde_A/Mezo.html">
                    <article class="a1">
                        <p class="texte">Mezo Shoji </p>
                        <div class="mezo"></div>
                    </article>
                </a>
                
            </div>

            <div class="img_gif">

                <a href="Seconde_A/Minoru.html">
                    <article class="a1">
                        <p class="texte">Minoru Mineta</p>
                        <div class="minoru"></div>
                    </article>
                </a>

                
                <a href="Seconde_A/Rikido.html">
                    <article class="a1">
                        <p class="texte">Rikido Sato</p>
                        <div class="rikido"></div>
                    </article>
                </a>

                <a href="Seconde_A/Shoto.html">
                    <article class="a1">
                        <p class="texte">Shoto Todoroki</p>
                        <div class="shoto"></div>
                    </article>
                </a>
                
                
            </div>

            <div class="img_gif">

                <a href="Seconde_A/Tenya.html">
                    <article class="a1">
                        <div class="larg">
                            <p class="texte">Tenya Iida</p>
                        </div>
                        <div class="tenya"></div>
                </article>
                </a>
                
                <a href="Seconde_A/Yuga.html">
                    <article class="a1">
                        <p class="texte">Yuga Aoyama</p>
                        <div class="yuga"></div>
                    </article>
                </a>
                
            </div>
    </body>
</html>