<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seconde A Fille</title>
        <link rel="shortcut icon" type="image/png" href="../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/style_perso.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="headera">
            <p class="titre2">Classe de Seconde A</p>
        </header>
        <article class="retour">
            <a href="../views/GEFA.html">
                    Retour en arrière
            </a>
        </article>
            <div class="img_gif">
                <a href="Seconde_A/Kyoka.html">
                    <article class="a1">
                        <p class="texte">Kyoka Jiro</p>
                        <div class="kyoka"></div>
                    </article>
                </a>
                <a href="Seconde_A/Mina.html">
                    <article class="a1">
                        <p class="texte">Mina Ashido</p>
                        <div class="mina"></div>
                    </article>
                </a>
                <a href="Seconde_A/Ochako.html">
                    <article class="a1">
                        <p class="texte">Ochaco Uraraka</p>
                        <div class="ochaco"></div>
                    </article>
                </a>                
            </div>

            <div class="img_gif">
                <a href="Seconde_A/Toru.html">
                    <article class="a1">
                        <p class="texte">Toru Hagakure</p>
                        <div class="toru"></div>
                    </article>
                </a>
                <a href="Seconde_A/Tsuyu.html">
                    <article class="a1">
                        <p class="texte">Tsuyu Asui</p>
                        <div class="tsuyu"></div>
                    </article>
                </a>
                <a href="Seconde_A/Yaomomo.html">
                    <article class="a1">
                        <p class="texte">Yaomomo Yaoyorozu</p>
                        <div class="momo"></div>
                    </article>
                </a>
            </div>
       
        
        
    </body>
</html>