<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Académie de Yuei</title>
        <link rel="shortcut icon" type="image/png" href="../assets/img/Yuei_Logo.png"/>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https ://fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="headery">
            <p class="titre2">Académie de Yuei</p>
        </header>
        <article class="retour">
            <a href="../index.html">
                    Retour en arrière
            </a>
        </article>
        <div class="ligne">
            <div class="categorie">
                <h2 class="titreacceuil">Classe de seconde A</h2>
                <a href="GEFA.html" class="rangement">
                    <img class="img_lien" src="../assets/img/secondea.jpg" alt="classe seconde a">
                </a>
            </div>
            <div class="categorie">
                <h2 class="titreacceuil">Classe de seconde B</h2>
                <a href="GEFB.html" class="rangement">
                    <img class="img_lien" src="../assets/img/secondeb.jpg" alt="classe seconde B">
                </a>
            </div>
        </div>
        <div class="ligne">
            <div class="categorie">
                <h2 class="titreacceuil">Autres élèves</h2>
                <a href="autre.html" class="rangement">
                    <img class="img_lien" src="../assets/img/autre.png" alt="dortoire de yuei">
                </a>
            </div>
            <div class="categorie">
                <h2 class="titreacceuil">Professeur</h2>
                <a href="prof/prof.html" class="rangement">
                    <img class="img_lien" src="../assets/img/img_prof.jpg" alt="professeurs de yuei">
                </a>
            </div>
        </div>
    </body>
</html>