    <!DOCTYPE html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Eijiro Kirishima</title>
            <link rel="shortcut icon" type="image/png" href="../../assets/img/Yuei_Logo.png"/>
            <link rel="stylesheet" href="../../assets/css/normalize.css">
            <link rel="stylesheet" href="../../assets/css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https : //fonts.googleapis.com/css2? family= Montagu+Slab & display=swap" rel="stylesheet">
        </head>
        <body>
        <main> 
            <article class="retour">
                <a href="../SecondeAG.html">
                    <p>
                        Retour en arrière
                    </p>
                </a>
            </article>
            <article class="presentation">
                <article class="ip">
                    <img class="taille" src="../../assets/img/seconde_a_perso/Eijiro_Kirishima.png" alt="eijiro kirishima vêtement d'école">
                </article>
                <article>
                    <article class="element">
                        <p class="tp">
                            Nom : Eijiro Kirishima
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Alter : Durcisement
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Nom de code/Surnom : Red Riot
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Age a l'entrer a yuei  : 15 ans
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Taille : 1m70   
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Groupe sanguin : O
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Mère : ???
                        </p>
                        <div class="clear"></div>
                        <p class="tp">
                            Père : ???
                        </p>
                    </article>
                    <div class="graph1eijiro">
                        <p>D'apres l'ultra archive</p>
                    </div>
                    <div class="graph2eijiro">
                        <p>D'apres l'ultra Analysis</p>
                    </div>
                </article>
                <div class="clear"></div>
            </article>
            <div class="clear"></div>
            <div class="navsaison">
                <nav>
                    <div class="clear"></div>
                    <a href="#saison1" class="textnavsaison">Saison 1</a>
                    <div class="clear"></div>
                    <a href="#saison2" class="textnavsaison">Saison 2</a>
                    <div class="clear"></div>
                    <a href="#saison3" class="textnavsaison">Saison 3</a>
                    <div class="clear"></div>
                    <a href="#saison4" class="textnavsaison">Saison 4</a>
                    <div class="clear"></div>
                    <a href="#saison5" class="textnavsaison">Saison 5</a>
                    <div class="clear"></div>
                </nav>
            </div>
            <input type="button" value="Résumé du personnage" class="nospoil aidenav1"></input>
            <p class="description">
                Kirishima est est un étudiant a yuei dans la classe A, son alter et durcissement , il peut durcir son corps de la tête au pied, son apparence est imposant en physique et sa musculature, il a les cheveux roux pour rendre hommage à son héros préféré <a href="#crimson_riot" class="transfer">Crimson riot</a>. Il a eu une enfance un peu difficile à cause de son manque de confiance, à l'âge de 3 ans son alter, c’est activé et c’est fait, une cicatrice a l’œil droit. Kirishima est une personne bruyante et excentrique et a une virilité masculine très développée, il a une grande détermination presque égale à celle de <a href="Deku.html" class="transfer">Midoriya</a> un de ses camarades de classe, au fil du temps Kirishima devient un personnage important pour la série.

            </p>
            <div id="saison1"></div>
            <h2 class="saison aidenav2">Saison 1</h2>
            <input type="submit" value="Première arc" class="nospoil aidenav3"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Deuxième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Troisième arc" class="nospoil"></input>
            <div class="description">
                <p>
                    
                </p>
            </div>
            <div id="saison2"></div>
            <h2 class="saison">Saison 2</h2>    
            <input type="submit" value="Quatrième arc" class="nospoil"></input>
            <div class="description">
                <p>
                                
                </p>
            
            </div>
            <input type="submit" value="Cinquième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Sixième arc" class="nospoil"></input>
            <p class="description">
                
            </p>
            <div id="saison3"></div>
            <h2 class="saison">Saison 3</h2>
            <input type="submit" value="Septième arc" class="nospoil"></input>
            <div class="description">
                <p>
                    
                </p>
            </div> 
            <input type="submit" value="Huitième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Neuvième arc" class="nospoil"></input>
            <div class="description">
                <p>
                    
                </p>
            </div>
            <div id="saison4"></div>
            <h2 class="saison">Saison 4</h2>
            <input type="submit" value="Dixième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Onzième arc" class="nospoil"></input>
            <p class="description">
                
            </p>
            <div id="saison5"></div>
            <h2 class="saison">Saison 5</h2>
            <input type="submit" value="Douzième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Treizième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Quatorzième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Quinzième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
            <input type="submit" value="Seizième arc" class="nospoil"></input>
            <div class="description none">
                <p>
                    Il n'apparaît pas dans cet arc.
                </p>
            </div>
        </main>
        
        <script src="../../assets/js/script.js"></script>
    </body>
    </html>
