.hiryu{
    background-image: url(../img/secondeb/Hiryu.jpg);
}
.hiryu:hover{
    background-image: url(../img/gif_seconde_b/hiryu_gif.gif);
}
.jurota{
    background-image: url(../img/secondeb/jurota.jpg);
}
.jurota:hover{
    background-image: url(../img/gif_seconde_b/jurota_gif.gif);
}
.juzo{
    background-image: url(../img/secondeb/juzo.jpg);
}
.juzo:hover{
    background-image: url(../img/gif_seconde_b/juzo_gif.gif);
}
.kojiro{
    background-image: url(../img/secondeb/kojiro.jpg);
}
.kojiro:hover{
    background-image: url(../img/gif_seconde_b/kojiro_gif.gif);
}
.kosei{
    background-image: url(../img/secondeb/Kosei.jpg);
}
.kosei:hover{
    background-image: url(../img/gif_seconde_b/Kosei_gif.gif);
}
.manga{
    background-image: url(../img/secondeb/Manga.jpg);
}
.manga:hover{
    background-image: url(../img/gif_seconde_b/manga_gif.gif);
}
.neito{
    background-image: url(../img/secondeb/neito.jpg);
}
.neito:hover{
    background-image: url(../img/gif_seconde_b/neito_gif.gif);
}
.nirengeki{
    background-image: url(../img/secondeb/nirengeki.jpg);
}
.nirengeki:hover{
    background-image: url(../img/gif_seconde_b/nirengeki_gif.gif);
}
.sen{
    background-image: url(../img/secondeb/sen.jpg);
}
.sen:hover{
    background-image: url(../img/gif_seconde_b/sen_gif.gif);
}
.shihai{
    background-image: url(../img/secondeb/shihai.jpg);
}
.shihai:hover{
    background-image: url(../img/gif_seconde_b/shihai_gif.gif);
}
.tetsutetsu{
    background-image: url(../img/secondeb/tetsutetsu.jpg);
}
.tetsutetsu:hover{
    background-image: url(../img/gif_seconde_b/tetsutetsu_gif.gif);
}
.togaru{
    background-image: url(../img/secondeb/togaru.jfif);
}
.togaru:hover{
    background-image: url(../img/gif_seconde_b/togaru_gif.gif);
}
.yosetsu{
    background-image: url(../img/secondeb/yosetsu.jpg);
}
.yosetsu:hover{
    background-image: url(../img/gif_seconde_b/yosetsu_gif.gif);
}
.denki{
    background-image: url(../img/secondea/denki.png);
}
.denki:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Denki.gif);
}
.eijiro{
    background-image: url(../img/secondea/eijiro.png);
}
.eijiro:hover{
    background-image: url(../img/gif_seconde_a/Gif\ eijiro.gif);
}
.fumikage{
    background-image: url(../img/secondea/fumikage.jpg);
}
.fumikage:hover{
    background-image: url(../img/gif_seconde_a/Gif\ fumikage.gif);
}
.hanta{
    background-image: url(../img/secondea/hanta.png);
}
.hanta:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Hanta.gif);
}
.izuku{
    background-image: url(../img/secondea/izuku.jpg);
}
.izuku:hover{
    background-image: url(../img/gif_seconde_a/Gif\ deku.gif);
}
.katsuki{
    background-image: url(../img/secondea/katsuki.jpeg);
}
.katsuki:hover{
    background-image: url(../img/gif_seconde_a/Gif\ bakugo.gif);
}
.koji{
    background-image: url(../img/secondea/koji.png);
}
.koji:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Koji.gif);
}
.mashirao{
    background-image: url(../img/secondea/mashirao.png);
}
.mashirao:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Mashirao.gif);
}
.mezo{
    background-image: url(../img/secondea/shoji.png);
}
.mezo:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Mezo.gif);
}
.minoru{
    background-image: url(../img/secondea/mineta.png);
}
.minoru:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Mineta.gif);
}
.rikido{
    background-image: url(../img/secondea/rikido.png);
}
.rikido:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Rikido.gif);
}
.shoto{
    background-image: url(../img/secondea/shoto.png);
}
.shoto:hover{
    background-image: url(../img/gif_seconde_a/Gif\ shoto.gif);
}
.tenya{
    background-image: url(../img/secondea/tenya.png);
}
.tenya:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Tenya.gif);
}
.yuga{
    background-image: url(../img/secondea/yuga.png);
}
.yuga:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Yuga.gif);
}
.kyoka{
    background-image: url(../img/secondea/kyoka.png);
}
.kyoka:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Kyoka.gif);
}
.mina{
    background-image: url(../img/secondea/mina.png);
}
.mina:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Mina.gif);
}
.ochaco{
    background-image: url(../img/secondea/ochaco.png);
}
.ochaco:hover{
    background-image: url(../img/gif_seconde_a/Gif\ ochako.gif);
}
.toru{
    background-image: url(../img/secondea/toru.png);
}
.toru:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Toru.gif);
}
.tsuyu{
    background-image: url(../img/secondea/tsuyu.png);
}
.tsuyu:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Tsuyu.gif);
}
.momo{
    background-image: url(../img/secondea/momo.png);
}
.momo:hover{
    background-image: url(../img/gif_seconde_a/Gif\ Yaomomo.gif);
}
.ibara{
    background-image: url(../img/secondeb/ibara.jpg);
}
.ibara:hover{
    background-image: url(../img/gif_seconde_b/ibara_gif.gif);
}
.itsuka{
    background-image: url(../img/secondeb/itsuka.jpg);
}
.itsuka:hover{
    background-image: url(../img/gif_seconde_b/itsuka_gif.gif);
}
.kinoko{
    background-image: url(../img/secondeb/kinoko.jpg);
}
.kinoko:hover{
    background-image: url(../img/gif_seconde_b/kinoko_gif.gif);
}
.pony{
    background-image: url(../img/secondeb/pony.jpg);
}
.pony:hover{
    background-image: url(../img/gif_seconde_b/pony_gif.gif);
}
.reiko{
    background-image: url(../img/secondeb/reiko.jpg);
}
.reiko:hover{
    background-image: url(../img/gif_seconde_b/reiko_gif.gif);
}
.setsuna{
    background-image: url(../img/secondeb/setsuna.jpg);
}
.setsuna:hover{
    background-image: url(../img/gif_seconde_b/setsuna_gif.gif);
}
.yui{
    background-image: url(../img/secondeb/yui.jpg);
}
.yui:hover{
    background-image: url(../img/gif_seconde_b/yui_gif.gif);
}
.big3{
    background-image: url(../img/Les_Big_3.png);
}
.generales{
    background-image: url(../img/generale.jpg);
}
.assistance{
    background-image: url(../img/asistance.jfif);
}
.mirio{
    background-image: url(../img/autre_et_gif/mirio.jfif);
}
.mirio:hover{
    background-image: url(../img/autre_et_gif/mirio_gif.gif);
}
.neijire{
    background-image: url(../img/autre_et_gif/Nejire.png);
}
.neijire:hover{
    background-image: url(../img/autre_et_gif/nejire_gif.gif);
}
.tamaki{
    background-image: url(../img/autre_et_gif/tamaki.png);
}
.tamaki:hover{
    background-image: url(../img/autre_et_gif/tamaki_gif.gif);
}
.hitoshi{
    background-image: url(../img/autre_et_gif/hitoshi.png);
}
.hitoshi:hover{
    background-image: url(../img/autre_et_gif/hitoshi_gif.gif);
}
.tsutsukata{
    background-image: url(../img/autre_et_gif/tsutsutaka.jpg);
}
.chikuchi{
    background-image: url(../img/autre_et_gif/chikuchi.jpg);
}
.mei{
    background-image: url(../img/autre_et_gif/mei.jpg);
}
.mei:hover{
    background-image: url(../img/autre_et_gif/mei_gif.gif);
}
.bibimi{
    background-image: url(../img/autre_et_gif/bibimi.jpg);
}
.bibimi:hover{
    background-image: url(../img/autre_et_gif/bibimi_gif.gif);
}
.allmight{
    background-image: url(../img/prof/all_might.png);
}
.allmight:hover{
    background-image: url(../img/gif_prof/all_might.gif);
}
.cementos{
    background-image: url(../img/prof/cementos.png);
}
.cementos:hover{
    background-image: url(../img/gif_prof/cementos.gif);
}
.ectoplam{
    background-image: url(../img/prof/ectoplam.jpg);
}
.denki, .eijiro, .fumikage, .hanta, .izuku, .katsuki, .koji, .mashirao, .mezo, .minoru, .rikido, .shoto, .tenya, .yuga, .kyoka, .mina, .ochaco, .toru, .tsuyu, .momo, .hiryu, .jurota, .juzo, .kojiro, .kosei, .manga, .neito, .nirengeki, .sen, .shihai, .tetsutetsu, .togaru, .yosetsu, .ibara, .itsuka, .kinoko, .pony, .reiko, .setsuna, .yui, .big3, .generales, .assistance, .mirio, .neijire, .tamaki, .hitoshi, .tsutsukata, .chikuchi, .mei, .bibimi, .allmight, .cementos, .ectoplam{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 266px;
    border-radius: 50px;
}
.denki:hover, .eijiro:hover, .fumikage:hover, .hanta:hover, .izuku:hover, .katsuki:hover, .koji:hover, .mashirao:hover, .mezo:hover, .minoru:hover, .rikido:hover, .shoto:hover, .tenya:hover, .yuga:hover, .kyoka:hover, .mina:hover, .ochaco:hover, .toru:hover, .tsuyu:hover, .momo:hover, .hiryu:hover, .jurota:hover, .juzo:hover, .kojiro:hover, .kosei:hover, .manga:hover, .neito:hover, .nirengeki:hover, .sen:hover, .shihai:hover, .tetsutetsu:hover, .togaru:hover, .yosetsu:hover, .ibara:hover, .itsuka:hover, .kinoko:hover, .pony:hover, .reiko:hover, .setsuna:hover, .yui:hover, .mirio:hover, .neijire:hover, .tamaki:hover, .hitoshi:hover, .mei:hover, .bibimi:hover, .allmight:hover, .cementos:hover{
    transition: 2s;
}